{% extends "base.html" %}

{% load bootstrap %}

{% block content %}

  <h2>Cadastrar Novo Membro</h2>

  <div class="col-md-6 col-md-offset-3">
    <form action="." method="POST">
      {% csrf_token %}
      {{ form|bootstrap }}
      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
  </div>

<script>
$(document).ready(function(){
  $('#id_data_consagracao').datepicker({
    locale: "pt-BR"
  });
  $('#id_data_apresentacao').datepicker({
    locale: "pt-BR"
  });
  $('#id_data_nascimento').datepicker({
    locale: "pt-BR"
  });
  $('#id_data_batismo').datepicker({
    locale: "pt-BR"
  });
  $('#id_data_admissao').datepicker({
    locale: "pt-BR"
  });
})
</script>

{% endblock content %}