{% extends "base.html" %}

{% block content %}
  <!-- search form -->
  <form class="navbar-form navbar-right" action="." method="GET">
    <input id="search_box" name="search_box" type="text" placeholder="Buscar..." class="form-control">
    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
  </form>

  <table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Nome</th>
            <th>e-mail</th>
            <th>Telefone</th>
            <th>Celular</th>
        </tr>
    </thead>
    <tbody>
      {% for person in persons %}
        <tr>
          <td>{{ person.id }}</td>
          <td>{{ person.nome }}</td>
          <td>{{ person.email }}</td>
          <td>{{ person.fone }}</td>
          <td>{{ person.celular }}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock content %}